@mixin setTopLine($c: #C7C7C7) {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid $c;
    color: $c;
    transform-origin: 0 0;
    transform: scaleY(0.5);
    box-sizing: content-box;
}

@mixin setBottomLine($c: #C7C7C7) {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid $c;
    color: $c;
    transform-origin: 0 100%;
    transform: scaleY(0.5);
    box-sizing: content-box;
}

@mixin setBottomLineEx($c: #C7C7C7, $position: absolute, $bottom: 0) {
  content: " ";
  position: $position;
  left: 0;
  bottom: $bottom;
  right: 0;
  height: 1px;
  border-bottom: 1px solid $c;
  color: $c;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
  box-sizing: content-box;
}

@mixin setLeftLine($c: #C7C7C7) {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-left: 1px solid $c;
    color: $c;
    transform-origin: 0 0;
    transform: scaleX(0.5);
    box-sizing: content-box;
}

@mixin setRightLine($c: #C7C7C7) {
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-right: 1px solid $c;
    color: $c;
    transform-origin: 100% 0;
    transform: scaleX(0.5);
    box-sizing: content-box;
}


