// Colors
$color-white: #fff;
$color-black: #000;
$color-333: #333;
$color-999: #999;
$color-262630: #262630;
$color-262628: #262628;
$color-A2A3A5: #A2A3A5;

// feed
// $color-3B424C: #3B424C;
// $color-ECECEC: #ECECEC;
// $color-FD415F: #FD415F;
// $color-F3F4F5: #F3F4F5;

$color-white-opacity-1: rgba(255, 255, 255, .1);
$color-white-opacity-5: rgba(255, 255, 255, .5);
$color-white-opacity-6: rgba(255, 255, 255, .6);
$color-white-opacity-8: rgba(255, 255, 255, .8);
$color-white-opacity-9: rgba(255, 255, 255, .9);